.blurry-background {
    position: absolute;
    background: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;    
    transition: ease 0.5s all;
    z-index: 19;
}

.blurry-background.active {    
    visibility: visible;
    opacity: 0.7;
}