.calendar-container {    
    opacity: 0;
    animation: movedown 0.4s linear forwards;
}

@keyframes movedown {
    0% {
        opacity: 0;        
    }
    100% {
        opacity: 1;        
    }
}